# Wstęp


* **PassengerId** - id pasażera - losowa liczba (być może w przypadku rodzin, jej członkowie mają kolejne następujące po sobie numery id) - ten parametr raczej nie jest istotny w analizie <br>
<br>
* **Survived** - to jest tzw. label - wielkość, która będzie przewidywana przez wybrane modele. Przyjmuje dwie wartości 0 - pasażer nie przeżył i 1 - pasażer przeżył <br>
<br>
* **Pclass** - klasa, którą podróżował pasażer (1 - najwyższa, 3 - najniższa)  <br>
* **Name** - imię i nazwisko pasażera (ewentualnie z tytułem używanym przez tą osobę) <br>
* **Sex** - płeć pasażera <br>
* **Age** - wiek podróżującej osoby <br>
* **SibSp** - informacja o tym, czy dany pasażer podróżował z rodzeństwem (Siblings - Sib) lub małżonkiem (Spouse - Sp) <br>
* **Parch**  - informacja o tym, czy dany pasażer podróżował z rodzicami (Par) lub dziećmi (ch) <br>
* **Ticket**  - numer biletu podróżnego <br>
* **Fare**  - cena biletu <br>
* **Cabin**  - numer/y kajut/y <br>
* **Embarked**  - nazwa portu, w którym pasażer wsiadł na pokład - S - Southmapton, C - Cherbourg, Q - Queenstown <br>

### Potrzebne importy i wersje
Python: 3.7 <br>

In [32]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

# Data

In [48]:
train = pd.read_csv('https://raw.githubusercontent.com/LOpuchlik/DataScience/master/titanic/input/train.csv')
test = pd.read_csv('https://raw.githubusercontent.com/LOpuchlik/DataScience/master/titanic/input/test.csv')

In [39]:
# showing 5 random entities (rows) from dataset
train.sample(5)

     Pclass   Age      Fare  Sex  Parch  SibSp
27        1  19.0  263.0000    0      2      3
683       3  14.0   46.9000    0      2      5
281       3  28.0    7.8542    0      0      0
617       3  26.0   16.1000    1      0      1
472       2  33.0   27.7500    1      2      1

In [49]:
# zamiana cech kategorycznych na numeryczne - w przypadku płci są tylko 2 możliwości, więc output 0 i 1 jest ok
train['Sex'] = pd.factorize(train['Sex'])[0]
test['Sex'] = pd.factorize(test['Sex'])[0]
# zamiana cech kategorycznych na numeryczne - w przypadku portu wejścia na pokład są tylko 3 możliwości
# więc output 0 i 1 i 2 nie jest dobry (gdyż porty te nie są ustawione w jakiejś hierarchii)
# trzeba będzie jeszcze zrobić dummy variables <-- to później
train['Embarked'] = pd.factorize(train['Embarked'])[0]
test['Embarked'] = pd.factorize(test['Embarked'])[0]

In [50]:
# wybieram cechy na podstawie, których początkowo będę chciała trenować model, a później go testować
features = ['Pclass', 'Age', 'Fare', 'Sex', 'Parch', 'SibSp', 'Survived']
test_features = ['Pclass', 'Age', 'Fare', 'Sex', 'Parch', 'SibSp']
train = train[features]
test = test[test_features]

In [51]:
train.shape, test.shape

((891, 7), (418, 6))

# Analysis
Do work here

# Results
Show graphs and stats here

# Conclusions and Next Steps
Summarize findings here