# Wstęp


* **PassengerId** - id pasażera - losowa liczba (być może w przypadku rodzin, jej członkowie mają kolejne następujące po sobie numery id) - ten parametr raczej nie jest istotny w analizie <br>
<br>
* **Survived** - to jest tzw. label - wielkość, która będzie przewidywana przez wybrane modele. Przyjmuje dwie wartości 0 - pasażer nie przeżył i 1 - pasażer przeżył <br>
<br>
* **Pclass** - klasa, którą podróżował pasażer (1 - najwyższa, 3 - najniższa)  <br>
* **Name** - imię i nazwisko pasażera (ewentualnie z tytułem używanym przez tą osobę) <br>
* **Sex** - płeć pasażera <br>
* **Age** - wiek podróżującej osoby <br>
* **SibSp** - informacja o tym, czy dany pasażer podróżował z rodzeństwem (Siblings - Sib) lub małżonkiem (Spouse - Sp) <br>
* **Parch**  - informacja o tym, czy dany pasażer podróżował z rodzicami (Par) lub dziećmi (ch) <br>
* **Ticket**  - numer biletu podróżnego <br>
* **Fare**  - cena biletu <br>
* **Cabin**  - numer/y kajut/y <br>
* **Embarked**  - nazwa portu, w którym pasażer wsiadł na pokład - S - Southmapton, C - Cherbourg, Q - Queenstown <br>

### Potrzebne importy i wersje
Python: 3.7 <br>

In [7]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

# Data

In [8]:
train = pd.read_csv('https://raw.githubusercontent.com/LOpuchlik/DataScience/master/titanic/train.csv')
test = pd.read_csv('https://raw.githubusercontent.com/LOpuchlik/DataScience/master/titanic/test.csv')

In [17]:
# showing 5 random entities (rows) from dataset
train.sample(5)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
210,211,0,3,"Ali, Mr. Ahmed",male,24.0,0,0,SOTON/O.Q. 3101311,7.050,NaN,S
219,220,0,2,"Harris, Mr. Walter",male,30.0,0,0,W/C 14208,10.500,NaN,S
438,439,0,1,"Fortune, Mr. Mark",male,64.0,1,4,19950,263.000,C23 C25 C27,S
231,232,0,3,"Larsson, Mr. Bengt Edvin",male,29.0,0,0,347067,7.775,NaN,S
777,778,1,3,"Emanuel, Miss. Virginia Ethel",female,5.0,0,0,364516,12.475,NaN,S

# Analysis
Do work here

# Results
Show graphs and stats here

# Conclusions and Next Steps
Summarize findings here